html,
body {
    height: 100%;
    background-color: var(--light);
}

body.blank {
    display: flex;
    padding: 40px 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0 0 30px;
}

body.blank .wrap {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: -40px auto;
    padding: 15px;
}

body.blank .wrap > div {
    width: 100%;
}

.wrap > .container {
    padding: 20px 15px 20px;
}

.breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
    padding: .5rem;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\f0de";
}

a.desc:after {
    content: "\f0dd";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar {
    z-index: 10;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    /*padding: 15px;*/
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
       /* padding: 10px 15px;*/
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

aside {
    width: 15rem;
    max-width: 15rem !important;
    position: fixed;
    z-index: 11;
    top: 0;
    height: 100vh;
    overflow: hidden scroll;
    transition: width 0.35s ease;
    scrollbar-width: none;
}
aside::-webkit-scrollbar {
    display: none;
}

.sidebar {
    padding: .5rem 1rem .5rem;
    height: calc(100% - 3.66rem);
    display: grid;
    grid-gap: .5rem;
    grid-auto-rows: max-content;
}
.sidebar-brand {
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 1.66rem;
}
.sidebar-brand a {
    color: white;
    text-decoration: none;
}
.sidebar > .nav-item {
    display: flex;
}

.sidebar .nav-link {
    color: white;
    border-radius: .25rem;
    width: 100%;
}

.sidebar .nav-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.sidebar .nav-icon {
    color: rgba(255, 255, 255, 0.7);
    width: 1.5rem;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 1rem;
    text-align: center;
}
.collapse-sideways.collapsing {
    position: fixed !important;
    height: 100% !important;
    transition: width 0.35s ease;
    width: 0;
}


.select2-container .select2-selection--single {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 70%;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left:0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: inherit;
}

.d-unset {
display: unset !important;
}
.d-none {
display: none !important;
}
.d-block {
display: block !important;
}
.d-inline {
display: inline !important;
}
.d-flex {
display: flex !important;
}

.radius-round {
border-radius: 10rem;
}

.btn.radius-round {
border-width: 2px;
}

/** TABLES **/
.table.table-eg {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    overflow: hidden;
}
.table-eg.table-hover tbody tr {
    border-left: 5px transparent solid;
    transition: .2s;
}
.table-eg.table-hover tbody tr:hover {
    background-color: #fefbea!important;
    border-left: 5px #ff9e29 solid;
}
.table.table-eg thead {
    background-color: #f4f4f4!important;
}
.table.table-eg th, .table.table-eg td {
    border: 0;
}
.table.table-eg tr {
    border-top: 0;
    border-bottom: rgba(0,0,0,.075) solid 1px !important;
}
.grid-view .pagination {
    padding: .5rem;
    margin-bottom: 0;
}
.grid-view .pagination li {
    margin-right: .5rem;
}
.grid-view .pagination li span,
.grid-view .pagination li a {
    font-weight: 700;
    border-radius: 3px!important;
    color: #23262a;
    background-color: #dfe0e0;
    text-decoration: none;
    position: relative;
    padding: .75rem 1rem;
    font-size: .875rem;
    text-align: center;
    vertical-align: middle;
    transition: .15s;
}
.grid-view .pagination .active a {
    color: #fff;
    background-color: #2779bc;
}
.grid-view .pagination li a:hover {
    background-color: #2c86d1;
    color: #fff;
}
.grid-view .pagination .next span,
.grid-view .pagination .prev span,
.grid-view .pagination .next a,
.grid-view .pagination .prev a {
    padding: .5rem 1.25rem;
    background-color: transparent !important;
    font-weight: 900;
    color: #636366 !important;
}
.grid-view .pagination .next a:hover,
.grid-view .pagination .prev a:hover {
    color: #165f9d !important;
    background-color: #c9e1f4 !important;
}

.btn.btn-action {
    color: #4c6778 !important;
    background-color: #e6eaed !important;
    border-color: #e6eaed !important;
    border-width: 2px;
}
.btn.btn-action.btn-success:hover {
    color: #327a32 !important;
    background-color: #f0f8f0 !important;
    border-color: #b5dcb5 !important;
}
.btn.btn-action.btn-primary:hover {
    color: #196db3 !important;
    background-color: #edf5fb !important;
    border-color: #a0c9eb !important;
}
.btn.btn-action.btn-danger:hover {
    color: #b9361f !important;
    background-color: #fcefec !important;
    border-color: #eeafa4 !important;
}

.radius-l-0 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.radius-r-0 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.profile-header {
    height: 14rem;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    margin: 0;
}

.profile-image {
    width: 128px;
    height: 128px;
    border-width: 5px !important;
    background-position: center;
    background-size: cover;
    background-origin: border-box;
    background-image: url(https://thumbs.gfycat.com/CreativeShorttermDassie-size_restricted.gif);
}